body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/CAPA01.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background: rgba(255, 255, 255, 0.3); /* Fundo transparente */
    border-radius: 10px;
    padding: 80px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.contact-form h2 {
    text-align: center;
}

.contact-form label {
    margin-top: 10px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5); /* Fundo dos campos semi-transparente */
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #218838;
}
